#contenido_comentarios {
    border-top: 2px solid rgba(0,0,0,0.2);
    clear: both;
    background-color: #DDD;
    padding: 60px 0;
    color: white;
}
#contenido_comentarios h2 {
    text-align: center;
    color: #666;
}

#contenido_comentarios p {
    color: #777;
}

/* */
.comentario {
    z-index: 0; /* Esto es para que los comentarios estén debajo de la cabecera */
    position: relative;
    padding: 10px;
    background: #fff;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    color: #777;
    margin: 25px 10px 10px 25px;
    border-radius: 0 10px 10px 10px;
    -webkit-border-radius: 0 10px 10px 10px;
    -moz-border-radius: 0 10px 10px 10px;
    background: -webkit-linear-gradient(top, #FFFFFF, #f0f0f0);
    background: -moz-linear-gradient(top, #FFFFFF, #f0f0f0);
}

.comentario p {
    padding: 8px;
}

.esquina-comentario {
    width: 8px;
    height: 8px;
    background-image: url(../img/esquina.png);
    background-repeat: no-repeat;
    position: absolute;
    left: -8px;
    top: 0px;
}

#tabla-comentarios {
    
}

#tabla-comentarios td p {
    text-align: center;
}