/* Documento CSS, elementos específicos del apartado de formularios */
#formulario-contacto {
    width: 600px;
    font-family: 'Open Sans', sans-serif;
    padding:  40px 30px;
    border-radius: 10px;
    background: #FFF;
    margin: 20px auto;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

#formulario-contacto p {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
}

h2 {
    text-align: center;
    font-size: 200%; /* Aumenta el doble */
}

label {
    font-family: 'Open Sans', sans-serif;
    display: block; /* De esta formo ahorro el br */
    text-transform: uppercase;
}
/* Asterisco para señalar campos obligatorios */
label.required:before {
    content: "* ";
    color: red;
}


/* Campos de texto */
input[type="text"],
textarea,
input[type="email"],
input[type="tel"], input[type="number"]{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display: block;
    width: 580px;
    padding: 8px;
    background: #F5F5F5;
    border: 2px solid #ddd;
    margin-bottom: 10px;
    border-radius: 3px;
}
input[type="text"]:valid, 
textarea:valid, input[type="email"]:valid, input[type="tel"]:valid {
    background-color: #e8ffef;
    background-image: url(../img/ok.png);
    background-repeat: no-repeat;
    background-position: 565px 10px;
    border-color: #c1f0d0;
}
input[type="text"]:invalid, textarea:invalid, input[type="email"]:invalid, input[type="tel"]:invalid {
    background-color: #fdeeea;
    background-image: url(../img/error.png);
    background-repeat: no-repeat;
    background-position: 565px 10px;
    border-color: #fdc5b0;
}
input[type="text"]:focus, textarea:focus, input[type="email"]:focus, input[type="tel"]:focus {
    background: rgb(225, 239, 243);
    border-color: rgb(142, 211, 232);
    box-shadow: 0 0 4px rgba(142, 211, 232, 0.67);
    outline: none;
}

/* Botones */
input[type="button"], input[type="submit"], input[type="reset"] {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    padding: 10px 15px;
    background:linear-gradient(top, #1dcaff, #19acd9);
    background: -webkit-linear-gradient(top, #1dcaff, #19acd9);
    background: -moz-linear-gradient(top, #1dcaff, #19acd9);
    color: white;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}
input[type="reset"] {
    background: linear-gradient(top, #faa508, #de940c);
    background: -webkit-linear-gradient(top, #faa508, #de940c);
    background: -moz-linear-gradient(top, #faa508, #de940c);
    float: right;
}
input[type="button"]:hover, input[type="submit"]:hover,
input[type="reset"]:hover {
    background:linear-gradient(top, #777, #333);
    background: -webkit-linear-gradient(top, #777, #333);
    background: -moz-linear-gradient(top, #777, #333);
}
select {
    font-family: 'Open Sans', sans-serif;
}
/* Imagen cabecera contacto.html */
.letter-image {
    background-image: url(../img/fondocafe.jpg)!important; 
}
