/* 
    Tipo: DOCUMENTO CSS
    Autor: Álex Goia
    Asignatura: Lenguaje de Marcas
    Proyecto: Web de escritor/autor
    Fecha máxima de entrega: 16 Noviembre de 2016
*/
/* ELEMENTOS GENÉRICOS */
/* Fuentes */
@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    src: url(../fonts/OpenSans.woff2);
}
@font-face {
    font-family: 'Playfair';
    font-weight: 300;
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
}

/* Animaciones */
@keyframes fromLeftToCenter {
    from {
        left: -100%;
        opacity: 0.0;
    }
    to {
        left: +0%;
        opacity: 1.0;
        float: right;
    }
}
@keyframes UpAndDown {
    0% {
        background-position: 95.9% 40px; 
    }
    33% {
        background-position: 95.9% 43px;
    }
    99% {
        background-position: 95.9% 37px;    
    }
}
@keyframes Girar {
    from {
        transform:rotate(0); 
    }to {
        transform:rotate(360deg); 
    }
}

/* Reinicio de margin y padding */
* {
    margin: 0;
    padding: 0;
    font-family: 'Playfair', serif;
    /* De esta forma se aplica a todo */
}

body {
    background-color: #333;
}

/* Elementos de texto */
p,
h1,
h2,
h3 {
    padding: 10px 60px 5px 30px;
    font-weight: lighter;
    /* Esto hace que no sea tan ancho */
}
p {
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    /* Texto justificado */
}
h3 {
    font-size: 135%;
}

/* Citar */
cite {
    font-family: inherit;
    font-style: normal;
    color: rgba(0, 0, 0, 0.75);
}
cite::before {
    content: open-quote;
    /* Abrimos las comillas antes del texto citado */
}
cite::after {
    content: close-quote;
    /* Cerramos las comillas después del texot citado */
}

/* Destacar */
mark {
    font-family: inherit;
    background-color: rgba(29, 202, 255, 0.25);
    font-style: normal;
}

/* Dirección */
address {
    font-weight: lighter;
    font-style: normal;
}

/* Fecha */
time {
    font-family: inherit;
    font-weight: bold;
}

/* Estructuras con float */
.flotar-derecha {
    float: right;
    width: 50%;
}
.flotar-izquierda {
    float: left;
    width: 50%;
}
.div-centrado-50 {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    min-width: 820px;
    /* Esto se puede conseguir también así margin: xpx auto; Donde x es el valor que queremos tener de márgen tanto arriba como abajo */
}
.limpiar-float {
    clear: both;
    text-align: center;
}

/* Links */
a {
    color: #486577;
    font-family: inherit; /* Hereda del padre en el que se encuentre */
}

/* Botones */
a.boton {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    padding: 10px 15px;
    background: linear-gradient(top, circle, #faa508, #de940c);
    background: -webkit-linear-gradient(top, #faa508, #de940c);
    background: -moz-linear-gradient(top, #faa508, #de940c);
    color: white;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}
a.boton-comprar {
     font-family: 'Open Sans', sans-serif;
    display: inline-block;
    padding: 10px 15px;
    background: linear-gradient(top, circle, #faa508, #de940c);
    background: -webkit-linear-gradient(top, #faa508, #de940c);
    background: -moz-linear-gradient(top, #faa508, #de940c);
    color: white;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}


/* Imagenes en el texto */
img.img-flotar-izquierda {
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
}
img.img-flotar-derecha {
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
}

/* Barra hora */
#barra-hora {
    position: absolute;
    top: -25px;
    right: 10px;
    color: white;
    padding: 2px 5px;
    font-size: 14px;
    font-family: monospace;
    text-align: right;
}

/* Cabecera */
#cabecera {
    position: fixed;
    z-index: 1;
    /* Esto es para que la cabecera esté encima de los comentarios */
    top: 0;
    left: 0;
    background: linear-gradient(top, #486577, #374c5a);
    background: -webkit-linear-gradient(top, #486577, #374c5a);
    background: -moz-linear-gradient(top, #486577, #374c5a);
    width: 100%;
    min-width: 1000px;
    /* Esto evita que al hacer la web pequeña
    y dado que no la estamos haciendo responsive, se aglutinen
    los elementos del menú; quedando antiestético */
    border-top: 30px solid #333;
    border-bottom: 2px solid #486577;
    box-shadow: rgba(0, 0, 0, 0.5) 0 2px 2px;
}
#titulo_cabecera {}
#titulo_cabecera h1 {
    text-transform: uppercase;
    /* Pone todas las letras en mayúsculas */
    color: #fff;
    padding: 18px;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: normal;
    /* Reducimos el ancho del texto */
    text-shadow: rgba(0, 0, 0, 0.4) 0 2px 2px;
}
span.apellido {
    color: #eab981;
}
#menu_cabecera {
    max-height: 73px;
    overflow: visible;
}
#menu_cabecera ul {
    text-align: center;
    list-style: none;
    overflow: visible;
    max-height: 73px;
}
#menu_cabecera li {
    float: left;
    /* También se podría usar display: inline-block, pero para este diseño me funciona mejor float: left. */
}
#menu_cabecera a {
    font-family: 'Open Sans', sans-serif;
    display: block;
    padding: 25.5px 10px;
    color: #ddd;
    text-decoration: none;
    transition-property: background;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.8) 0 1px 1px;
    font-weight: lighter;
}
#menu_cabecera a.social-media {
    padding: 22px 10px;
    animation: Girar;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 1s;
}
#menu_cabecera a.pg_actual {
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-weight: bold;
}
#menu_cabecera a:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

#menu-desplegable {
    max-width: 73px;
    overflow-x: visible;
}

#submenu {
    display: none;
    background: #FFF;
    border: 1px solid #486577;
    width: 250px;
    overflow:auto;
    height: auto;
}

    #submenu li {
        display:block;
        padding: 5px;
    }

        #submenu a {
            display:block;
            font-size:14px!important;
            padding:5px!important;
            margin:0!important;
            text-shadow: none;
            color: #444;
        }


/* Div que se utiliza como presentación del sitio, tiene dentro una imagen */
#presentacion {
    clear: both;
    margin-top: 72px;
    background-image: url(../img/portadainicio.jpg);
    /* Por defecto */
    /* A posteriori cambiaré esto con una clase */
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    height: 280px;
    min-width: 1000px;
    overflow: hidden;
}

#div_interior {
    margin-top: 200px;
    width: 50%;
    float: right;
    background: rgba(0, 0, 0, 0);
    background-image: url(../img/up.png);
    background-repeat: no-repeat;
    background-position: 95.9% 40px;
    color: white;
    height: 250px;
    padding-top: 30px;
    overflow: hidden;
    text-align: right;
    -webkit-transition: margin-top 1s ease-in-out, background 1s ease-in-out;
    -moz-transition: margin-top 1s ease-in-out, background 1s ease-in-out;
    transition: margin-top 1s ease-in-out, background 1s ease-in-out;
    animation: UpAndDown;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;   
}

#div_interior h3 {
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
}
#div_interior:hover {
    margin-top: 0;
    background: rgba(0, 0, 0, 0.5);
    text-align: left;
}

#div_interior a {
    color: #ffe89a;
}

/* ----- CONTENIDO ----- */
#contenido {
    border-top: 2px solid #b2b294;
    background-color: #f2f2d7;
    padding: 60px 0;
}
#contenido h2 {
    color: #C3934F;
}
#contenido p:first-letter {
    padding-left: 5px;
}
#foto-carl {
    position: relative;
    left: -100%;
    opacity: 0.0;
    display: block;
    margin-right: 30px;
    margin-left: 60px;
    animation: fromLeftToCenter;
    animation-duration: 2s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    padding: 0;
    border-radius: 5px;
    -webit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
#foto-carl:hover {}


/* ----- CONTENIDO DESTACADO ----- */

#contenido_destacado {
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    clear: both;
    background: -webkit-radial-gradient(top left, circle, #489C77 0%, #92489C 150%);
    background: -moz-radial-gradient(top left, circle, #489C77 0%, #92489C 150%);
    padding: 60px 0;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
}

#contenido_destacado h2 {
    color: #83E8BC;
}


/* ----- CONTENIDO ABSOLUTO: regalo promocional ---- */
a.absoluto {
    display: block;
    position: absolute;
    left: -125px;
    top: 180px;
    background: rgba(0, 0, 0, 0.4);
    background-image: url(../img/download-icon.png);
    background-repeat: no-repeat;
    background-position: 145px 16px;
    padding: 10px;
    padding-right: 50px;
    width: 120px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    text-decoration: none;
    /* hacer la transición */
    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    transition: left 0.5s;
}

a:hover {
    left: 0;
}



/* ----- PIE DE PÁGINA ----- */
footer {
    clear: both;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    background: #405969;
    color: white;
    padding: 20px;
}

footer address a {
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
}

p.ali-derecha {
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* FORMULARIO SUSCRIPCIONES*/
#suscripciones,
#encuesta {
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    clear: both;
    background: #DAA520;
    padding: 60px 0;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
}

#encuesta {
    background: #1dcaff;
}

#reset-sobre-suscriptor {
        display: block;
        padding:10px;
        margin: 5px auto;
        background-color: gray;
        color:white;
        border:none;
        cursor: pointer;
}

#nom-suscriptor,
#email-suscriptor,
#sobre-suscriptor {
    display: block;
    width:280px;
    padding:10px;
    margin: 5px auto;
}

#enviar-suscripcion {
    display: block;
    padding:10px;
    margin: 5px auto;
    background-color: #486577;
    color:white;
    border:none;
    cursor: pointer;
}