/* DOCUMENTO CSS para multimedia.css */
#contenido-multimedia {
    background-color: #eee;
    border-top: 2px solid #ccc;
    clear: both;
    padding: 60px 0;
    color: #555;
}
#contenido-multimedia h2 {
    color: orange;
}

#contenido-multimedia h2.youtube {
    color: #cc181e;
}

/* Cambio imagen presentación */
.imagen-cabecera-multimedia {
    background-image: url(../img/fondomultimedia.jpg)!important;
}

#reproductor_video {
    width: 680px;
    margin: 0 auto;
}
#reproductor_video video {
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

#reproductor_audio {
    width: 680px;
    margin: 0 auto;
}